<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watch Market</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/media/favicon.png">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>

    <div id="container">

        <div id="header">
            {% include 'common/header.html' with current_page=current_page %}
        </div>

        <div id="body">
            <h1 class="text-center">
                {% block site_heading %}{% endblock %}
            </h1>

            {% block site_content %}{% endblock %}
        </div>

        <div id="footer">
            {% include 'common/footer.html' %}
        </div>
    </div>
</body>
</html>
