{% extends 'common/base/base.html' %}
{% block site_content %}
    <div class="d-flex">
        <div class="d-inline p-2 w-50">
            <img src="{{ watch.image.url }}" class="w-50 rounded mx-auto d-block">
        </div>
        <div class="d-inline p-2 w-50">
            <div class="d-flex justify-content-between">
                <h5><u>Name:</u> {{ watch.name }}</h5>
                <h5><u>Price:</u> {{ watch.price }}$</h5>
                <h5><u><strong>Owner:</strong></u> <strong><a
                        href="{% url 'user profile' watch.user.user_id %}"> {{ watch.user.user.username }}</a></strong>
                </h5>
            </div>
            <p class="mt-2"><strong><u>Description</u></strong>: {{ watch.description }}</p>
            <div>
                {% if can_delete %}
                    <a href="{% url 'delete watch' watch.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
                {% if can_edit %}
                    <a href="{% url 'edit watch' watch.id %}" class="btn btn-warning">Edit</a>
                {% endif %}
            </div>
            {% if can_like %}
                {% if has_liked %}
                    <a href="{% url 'like watch' watch.id %}"><i class="fa fa-heart" aria-hidden="true"></i></a>
                {% else %}
                    <a href="{% url 'like watch' watch.id %}"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                {% endif %}
            {% endif %}
            <p class="mt-2">Likes: {{ watch.like_set.count }}</p>
        </div>
    </div>
    <div class="d-block" style="background-color: #F0E0C7; padding:2%">
        {% if watch.comment_set.all %}
            {% for comment in watch.comment_set.all %}
                <div class="box">
                    <strong><a href="{% url 'user profile' comment.user.user_id %}">{{ comment.user.user.username }}</a></strong>
                    <h5><em>{{ comment.text }}</em></h5>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                <h3>There are no comments for this watch. </h3>
            </div>
        {% endif %}
        {% if can_comment %}
            <div class="box">
                <form method="post" action="{% url 'comment watch' watch.pk %}">
                    {{ form }}
                    {% csrf_token %}
                    <button class="btn btn-secondary mt-2" type="submit">Add comment</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}