{% extends 'common/base/base.html' %}
{% block site_heading %}
    All Watches
{% endblock %}
{% block site_content %}
    <form method="get" action="{% url 'index' %}">
        {{ filter_form }}
        {% csrf_token %}
        <button>Filter</button>
    </form>
    <div class="row">
        {% for watch in watches %}
            <div class="col-lg-4">
                    {% include 'partials/item_visualization.html' with watch=watch %}
            </div>
        {% endfor %}

    </div>

{% endblock %}
