{% extends 'common/base/base.html' %}
{% block site_content %}
    <div class="jumbotron parent">

        <div class="row">
            <div class="col-6">
                <img style="width: 100%; height:100%"
                        src="https://hodinkee.imgix.net/uploads/images/1508763285254-eyppsqaxmj-0872365528a47831f58f9679bedafbc1/CWC1980-1.jpg?ixlib=rails-1.1.0&fm=jpg&q=55&auto=format&usm=12&w=1000"
                     alt="">
            </div>
            <div class="col-6">
                <h1 class="display-4">Welcome to the WatchMarket</h1>
                <br>
                <p class="lead">Post your ads for free</p>
            </div>
        </div>
        <div class="absolute">

            <hr class="my-4">
            <div class="inner cover">
                <h1 class="cover-heading"></h1>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="lead">Already have an account? <br><a href="{% url 'login user' %}" style="margin: 10px 0px 0px 0px;"
                                                                        class="btn btn-lg btn-secondary">Login</a></p>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead"> Do not have an account? <br>
                            <a href="{% url 'register user' %}" style="margin: 10px 0px 0px 0px;" class="btn btn-lg btn-secondary">Register</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}