{% extends 'common/base/base.html' %}
{% block site_heading %}
    {{ profile_user.username }}
{% endblock %}
{% block site_content %}
    <div class="text-center">
        {% if profile.profile_image %}
            <img class="rounded-circle mb-3" src="{{ profile.profile_image.url }}" alt="Generic placeholder image"
                 width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3"
                 src="https://www.pngitem.com/pimgs/m/247-2472306_admin-anonymous-person-icon-hd-png-download.png"
                 alt="Generic placeholder image" width="140"
                 height="140">
        {% endif %}
        <div class="w-50 m-auto">
            {% if profile_user == user %}
                <form action="{% url 'current user profile' %}" method="post" enctype="multipart/form-data">
                    <label for="date_of_birth">Date of Birth:</label>
                    <input id="date_of_birth" name="date_of_birth" type="date">
                    Profile image: {{ form.profile_image }}
                    {% csrf_token %}
                    <button class="btn btn-secondary">Upload</button>
                </form>
            {% endif %}
        </div>
    </div>
    <hr>
    {% if watches %}
        <h2 class='text-center'>Watch Ads</h2>
        <div class="row">
            {% for watch in watches %}
                <div class="col-lg-3">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{{ watch.image.url }}" class="card-img-top size" alt="Image of {{ watch.name }}" style="height: 25rem">
                        <div class="card-body">
                            <h5 class="card-title">{{ watch.name }}</h5>
                            <p class="card-text">{{ watch.description }}</p>
                            <p class="card-number">{{ watch.price }}$</p>
                            {% if profile_user == user %}
                                <a href="{% url 'watch details' watch.id %}" class="btn btn-secondary">Preview</a>
                                <a href="{% url 'edit watch' watch.id %}" class="btn btn-warning">Edit</a>
                                <a href="{% url 'delete watch' watch.id %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <h2>You have no watches</h2>
            <a href="{% url 'create' %}" class="btn btn-success">Add New</a>
        </div>
    {% endif %}
{% endblock %}